{% extends 'account/base.html' %}
{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4"></div>
      <div class="col-lg-4">
        <div class="card mt-5">
          <div class="card-header bg-white p-3">
            <h3 class="card-title text-center pb-0 fs-4">Create an Account</h3>
            <p class="text-center text-sm">Enter your personal details to create account</p>
          </div>
          {% if form.errors %}
            <div class="error-summary alert alert-danger">
              <p>Please fix the following errors:</p>
              <ul>
                {% for field, errors in form.errors.items %}
                  {% for error in errors %}
                    <li>{{ error }}</li>
                  {% endfor %}
                {% endfor %}
              </ul>
            </div>
          {% endif %}
          <div class="card-body">
            <form action="{% url 'account_signup' %}" method="POST" id="contactForm" novalidate="novalidate">
                {% csrf_token %}
              <div class="col-12">
                <label for="yourUsername" class="form-label">Email</label>
                <div class="input-group">
                  <input type="email" name="email" class="form-control" placeholder="Email Address" required />
                </div>
              </div>

              <div class="col-12">
                <label for="yourUsername" class="form-label">Username</label>
                <div class="input-group">
                  <input type="text" name="username" class="form-control" placeholder="Eg: msimam" required />
                </div>
              </div>

              <div class="col-12">
                <label for="yourPassword" class="form-label">Password</label>
                <input type="password" name="password1" class="form-control" id="yourPassword" placeholder="Password" required />
              </div>
              <div class="col-12">
                <label for="yourPassword" class="form-label">Confirm Password</label>
                <input type="password" name="password2" class="form-control" placeholder="Confirm Password" id="yourPassword" required />
              </div>
              <div class="form-group mt-3">
                <button type="submit" class="btn btn-block btn-danger">Signup</button>
              </div>
              <p>
                Already have an account? <a href="{% url 'account_login' %}" class="text-danger">login here</a>
              </p>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-4"></div>
    </div>
  </div>
{% endblock %}
